/* Header related styles */


.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(73, 20, 179, 0) 100%);
    background: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    margin: 30px;
    padding: 100px 300px 350px 300px;

}

.banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}


.banner-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}








/* Section related styles */

section {
    margin-top: 50px;
}


/* Discount Section */

.discount {
    text-align: center;
}

.off {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.off-description {
    margin-bottom: 1px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}

.catergory {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Welcome Section */

.welcome {
    background: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 100px 15px;
    padding: 60px 100px 267px 140px;
    display: flex;
    border-radius: 10px;

}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.join-btn {
    color: #FFF;
    background-color: #070211;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}



/* Venue related styles */

.venue-content {

    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px;
    padding: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;


}

.venue-content span {
    color: #FF0000;

}

.join-now {
    border: 0;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


/* Coming soon section related styles */

.coming-soon {
    margin: 100px;
    display: flex;
    gap: 100px;
}

#best-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
}

#coming-soon-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 10px;
    text-transform: capitalize;
}

.coming-soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

#year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.coming-soon-part-2 img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 20px;

}



/* Holiday Section styles */


.holidays-sale {
    margin: 100px;
}

.holiday-sale-part-1 {
    text-align: center;
}

.holiday-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.holiday-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
}

.holiday-heading span {
    color: #F00;

}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

}




/* Portfolio section related styles */


.portfolio {
    padding: 0px 100px;
}

.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

.portfolio-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 20px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;


}

.portfolio-images img {
    width: 350px;
    height: 360px;
    border-radius: 16px;
    margin-right: 24px;

}







/* footer related styles */
footer {
    margin-top: 100px;
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 120px 240px;
}

.footer-part-1 {
    display: flex;
    gap: 100px;

}


.column-1 p {
    text-align: left;
}

.column-2 div {
    display: flex;
}


.footer-part-2 {
    padding: 10px 240px;
}

.footer-images img {
    margin-right: 24px;
}



.footer-part-3 {
    display: flex;
    justify-content: space-between;

}